*{
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    max-height: 300px;
    overflow: scroll;
}

.title {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.titleQuestion {
    margin: 10px auto 0 auto;
    font-size: 25px;
    font-weight: 300;
}

.titleAnswer {
    margin: 10px auto 50px auto;
    font-size: 25px;
    font-weight: 300;
}

.cancelButton {
    border-radius: 5px;
    height: 40px;
    width: 150px;
}

.qImg {
    margin: 10px auto;
    height: 200px;
    width: 320px;
}

.aImg {
    margin: 10px auto;
    height: 200px;
    width: 320px;
}