.registrationContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-1);
}

.components {
    width: 400px;
    height: 600px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.registrationTitle img {
    height: 90px;
    margin-bottom: 40px;
}

.registrationSubTitle {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 38px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.passwordInput{
    position: relative;
}

.passwordConfirmInput{
    position: relative;
    margin-bottom: 24px;
}

.passwordControl {
    position: absolute;
    top: 11px;
    right: 20px;
    display: inline-block;
    width: 25px;
    height: 35px;
    fill: var(--greyDark-2);
}


/*Спросить у Давида разрешение___________________*/
/*.emailInput {*/
/*    height: 55px;*/
/*}*/

/*.passInput {*/
/*    margin-top: 25px;*/
/*    height: 55px;*/
/*}*/
/*Спросить у Давида разрешение___________________*/
.linkCheckboxWrapper {
    display: flex;

}
/*Спросить у Давида разрешение___________________*/
.registrationButton {
    margin-bottom: 40px;
}
/*Спросить у Давида разрешение___________________*/
.label {
    margin: 10px 0 5px;

}
.navigateBlock {
    /*margin-top: 20px;*/
    display: flex;
    justify-content: space-between;
    width: 21.4rem;
}

.toLoginLink {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary);
}

.errorBlock{
    height: 40px;
}

.errorBlock span {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}