.registrationContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

.components {
    width: 400px;
    height: 600px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.registrationTitle img {
    height: 90px;
    margin-bottom: 40px;
}

.registrationSubTitle {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 38px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.passwordInput{
    position: relative;
}

.passwordConfirmInput{
    position: relative;
    margin-bottom: 24px;
}

.passwordControl {
    position: absolute;
    top: 11px;
    right: 20px;
    display: inline-block;
    width: 25px;
    height: 35px;
    fill: var(--bg);
}

.linkCheckboxWrapper {
    display: flex;

}

.registrationButton {
    margin-bottom: 40px;
}

.label {
    margin: 10px 0 5px;

}
.navigateBlock {
    /*margin-top: 20px;*/
    display: flex;
    justify-content: space-between;
    width: 21.4rem;
}

.toLoginLink {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--textColor);
}

.errorBlock{
    height: 40px;
}

.errorBlock span {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}