.cardItemContainer {
    display: flex;
    width: 100%;
    height: 40px;
    /*background-color: #11eec5;*/
    justify-content: space-around;
    margin-top: 5px;
    /*background-color: #11eec5;*/
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
}

.questionColumn {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 390px;
    height: 40px;
    cursor: pointer;
    /*margin-right: 10px;*/
    /*background-color: red;*/

}
.answerColumn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 390px;
    height: 40px;
    /*background-color: #eabd0b;*/
}

.updateColumn {
    cursor: pointer;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    /*margin-right: 10px;*/
    /*background-color: pink;*/
}
.gradeColumn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    /*background-color: #430bea;*/
}

.buttonBlock {
    justify-content: space-between;
    display: flex;
    width: 130px;
    align-items: center;
    cursor: pointer;
/*background-color: #577aab;*/
}

/*.buttonBlock button {*/
/*    font-size: 17px;*/
/*    height: 25px;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*}*/

.packEditIcon {
    cursor: pointer;
    width: 18px;
}
.packDeleteIcon {
    cursor: pointer;
    width: 18px;
}
.packLearnIcon {
    cursor: pointer;
    width: 18px;
}

.editeWrapper {
    width: 30px;
    height: 30px;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
}
.editeWrapper:active {
    box-shadow: inset .1rem .1rem .2rem var(--shadow-1), inset -.1rem -.1rem .2rem var(--shadow-2);
}
.deleteWrapper {
    width: 30px;
    height: 30px;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: none;
}
.deleteWrapper:active {
    box-shadow: inset .1rem .1rem .2rem var(--shadow-1), inset -.1rem -.1rem .2rem var(--shadow-2);
}
.learnWrapper {
    width: 30px;
    height: 30px;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: none;
}
.learnWrapper:active {
    box-shadow: inset .1rem .1rem .2rem var(--shadow-1), inset -.1rem -.1rem .2rem var(--shadow-2);
}