/*.range {*/
/*    width: 200px;*/
/*    height: 10px;*/
/*    cursor: pointer;*/
/*    box-shadow: inset 0.1rem 0.1rem 0.2rem var(--shadow-ModalEditedForHeader), inset -0.1rem -0.1rem 0.2rem var(--shadow-2);*/
/*    border-radius: 1rem;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*input[type=range] {*/
/*    -webkit-appearance: none;*/
/*    width: 200px;*/
/*    outline: none;*/
/*    height: 0;*/
/*    padding: 0;*/
/*    border-radius: 1px;*/
/*}*/

/*input[type=range]::-webkit-slider-runnable-track {*/
/*    -webkit-appearance: none;*/
/*    height: 10px;*/
/*    width: 200px;*/
/*    left: 0;*/
/*    border-radius: 1rem;*/
/*}*/

/*input[type=range]::-webkit-slider-thumb {*/
/*    -webkit-appearance: none;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    top: -3px;*/
/*    width: 1rem;*/
/*    height: 1rem;*/
/*    border-radius: 50%;*/
/*    background: linear-gradient(-1deg, var(--shadow-5) 0%, var(--pagination) 50%, var(--shadow-5) 100%);*/
/*    z-index: 200;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.range {
    width: 100%;
    background: var(--bg);
}

.progressOverlay {
    width: calc(100% - 15px);
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    margin-left: -1px;
    z-index: 3;
}

.progress {
    height: 13px;
    width: 100%;
    position: relative;
    left: 10px;
    right: 1px;
    top: -1px;
    z-index: 1;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    outline: none;
    border-radius: 15px;
    margin: 0;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 16px;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;

    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0.1rem 0.3rem 0 var(--greyLight-3);
    z-index: 5;
    position: relative;
    top: -2px;
}

.valueCoords {
    position: absolute;
    top: -30px;
    background: var(--bg);
    color: var(--textColor);
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    padding: 3px 5px;
    border-radius: 5px;
    line-height: 1;
    font-weight: bold;
}


