.profileContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-1);

}

.components {
    width: 400px;
    height: 600px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.picture img {
    display: block;
    margin: auto;
    width: 80%;
    height: 200px;
    border-radius: 0 0 5px 5px;
    object-fit: cover;
    object-position: 100% 65%;

}

.avatar {
    display: contents;
    justify-content: center;

}

.avatarBorder {
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white), inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);

}


.avatarBorder img {
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 160px;
    height: 160px;
    border-radius: 50%;
    /*border: 5px solid white;*/
}

.profileName {
    margin-bottom: 45px;
    font-size: 35px;
    text-align: center;
}

.profileStatus{
    margin: 5px;
    font-size: 20px;
    text-align: center;
    /*text-transform: uppercase;*/
    font-weight: 500;
}

.buttonBlock{
    display: flex;
}
/*спросить разрешение у Андрея_______________*/
.editButton {
    width: 21.4rem;
    height: 55px;
    text-transform: uppercase;
}
/*спросить разрешение у Андрея_______________*/

.buttonBlock button {
    width: 160px;
    height: 55px;
    margin: 15px;
    text-transform: uppercase;
}
/*спросить разрешение у Андрея_______________*/
.cancelButton{
    background: none;
    color: var(--greyDark);
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.cancelButton:hover {
    color: var(--primary);
}

.cancelButton:active {
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

.inputBlock input {
    height: 55px;
    margin: 15px;
}

/*спросить разрешение у Андрея_______________*/
.link {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}
/*спросить разрешение у Андрея_______________*/

/*.link {*/
/*    text-decoration: none;*/
/*    color: var(--greyDark);*/
/*    margin: 10px;*/
/*}*/

/*.link:hover {*/
/*    color: var(--primary-dark);*/
/*}*/

/*спросить разрешение у Андрея_______________*/