.profileContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-1);
}

.components {
    width: 400px;
    height: 600px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.picture img {
    display: block;
    margin: auto;
    width: 80%;
    height: 200px;
    border-radius: 0 0 5px 5px;
    object-fit: cover;
    object-position: 100% 65%;
}

.avatar {
    position: relative;
    /*margin-top: -150px;*/
    justify-content: center;
}

.avatar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 168px;
    border-radius: 50%;
    border: 5px solid white;
}

.profileName {
    margin-bottom: 45px;
    font-size: 35px;
    text-align: center;
    color: var(--greyDark-2);
}

.profileStatus{
    color: var(--greyDark-2);
    margin: 5px;
    font-size: 20px;
    text-align: center;
    /*text-transform: uppercase;*/
    font-weight: 500;
}

.buttonBlock{
    display: flex;
}
/*спросить разрешение у Андрея_______________*/
.editButton {
    width: 21.4rem;
    height: 55px;
    text-transform: uppercase;
}
/*спросить разрешение у Андрея_______________*/

.buttonBlock button {
    width: 160px;
    height: 55px;
    margin: 15px;
    text-transform: uppercase;
}
/*спросить разрешение у Андрея_______________*/
.cancelButton{
    background-color: var(--primary-light);
    box-shadow: inset 0.2rem 0.2rem 1rem var(--greyLight-2), inset -0.2rem -0.2rem 1rem var(--primary-light), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);

}

.inputBlock input {
    height: 55px;
    margin: 15px;
}

/*спросить разрешение у Андрея_______________*/
.link {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}
/*спросить разрешение у Андрея_______________*/

/*.link {*/
/*    text-decoration: none;*/
/*    color: var(--greyDark);*/
/*    margin: 10px;*/
/*}*/

/*.link:hover {*/
/*    color: var(--primary-dark);*/
/*}*/

/*спросить разрешение у Андрея_______________*/