.preloaderWrapper {
    height: 100vh;
    width: 100vm;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.preloader {
    width: 200px;
    height: 200px;
}