.header{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  margin-top: 60px;
}

.searchContainer {
  display: flex;
  height: 45px;
  width: 1007px;
  justify-content: end;
  align-items: center;
  /*background-color: #fff;*/
  margin-bottom: 10px;
}

.searchButton {
  width: 220px;
  height: 40px;
  font-size: 20px;
  margin:  0 2px 0 20px;
  border-radius: 10px;
  box-shadow: inset 0.1rem 0.1rem .5rem var(--shadow-4), inset -0.1rem -0.1rem .5rem var(--shadow-3);
}

.searchInput {
  margin: 0;
  width: 760px;
  height: 40px;
  border-radius: 10px;
}
