.learningContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}

.components {
  position: relative;
  width: 400px;
  /*height: 600px;*/
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
  padding: 4rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 60px;
}

.packNameTitle {
  margin: 10px auto;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.packNameSubtitle {
  margin: 0 auto 20px auto;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.questionWrapper {
  margin: 25px auto;
  font-size: 20px;
  background-color: var(--packItem);
  border-radius: 10px;
  padding: 5px;
}

.questionTitle {
  font-weight: 600;
  margin: 0 auto;
  font-size: 20px;
}

.question {
  font-weight: 300;
  max-height: 100px;
  overflow: scroll;
}

.answerWrapper {
  margin: 25px auto 50px auto;
  font-size: 20px;
  max-height: 160px;
  overflow: scroll;
  background-color: var(--packItem);
  border-radius: 10px;
  padding: 5px;

}

.answerTitle {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
}

.answer {
  font-weight: 300;
}

.editButton {
  margin: 50px auto 0 auto;
  height: 40px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
}

.answerBtn {
  height: 40px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px auto;
}

.close {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 3px;
  background-color: var(--textColor);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}