.loginContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-1);
}

.components {
    width: 400px;
    height: 600px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.loginTitle img {
    height: 90px;
    margin-bottom: 40px;
}

.loginSubTitle {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 38px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.passwordControl {
    position: absolute;
    top: 92px;
    right: 20px;
    display: inline-block;
    width: 25px;
    height: 35px;
    fill: var(--greyDark-2);
}

.rememberWrapper {
    display: flex;
    align-items: center;
    width: 21.4rem;
    justify-content: start;
    margin-bottom: 70px;
}

.rememberWrapper span {
    margin-left: 10px;
}

.rememberCheckbox {
    width: 10px;
    height: 10px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}

.loginButton {
    width: 21.4rem;
    height: 50px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footerWrapper {
    display: flex;
    width: 21.4rem;
    justify-content: space-between;
}

.newUserSpan {
    margin-right: 10px;
}

.toRegisterLink {
    text-decoration: none;
    font-weight: bold;
}

.toRegisterLink span {
    color: var(--primary);
}

.forgotPassLink {
    text-decoration: none;
    font-weight: bold;
}

.forgotPassLink span{
    color: var(--primary);
}

.errorBlock{
    height: 40px;
}

.errorBlock span {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}