.recoveryContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}
.components {
    width: 400px;
    height: 600px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.recoveryTitle img {
    height: 90px;
    margin-bottom: 40px;
}
.recoverySubTitle {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 65px;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emailInput {
    margin-bottom: 50px;
}
.sendButton {
    margin-bottom: 40px;
}

/*Спросить у Давида разрешение___________________*/
.toLoginLink {
    text-decoration: none;
    color: var(--textColor);
    font-weight: bold;
}
/*Спросить у Давида разрешение___________________*/
.span {
    margin-bottom: 100px;
    width: 21.4rem;
}
/*Спросить у Давида разрешение___________________*/
.errorBlock{
    height: 40px;
}

.errorBlock span {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

/*Спросить у Давида разрешение___________________*/