.registrationContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--greyLight-1);
}

.components {
    width: 400px;
    height: 600px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.registrationTitle {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
    font-size: 35px;
}

.registrationSubTitle {
    margin-top: 32px;
    font-size: 23px;
    font-weight: 500;
}

.inputWrapper {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Спросить у Давида разрешение___________________*/
/*.emailInput {*/
/*    height: 55px;*/
/*}*/

/*.passInput {*/
/*    margin-top: 25px;*/
/*    height: 55px;*/
/*}*/
/*Спросить у Давида разрешение___________________*/
.linkCheckboxWrapper {
    margin-top: 48px;
    display: flex;

}
/*Спросить у Давида разрешение___________________*/
.registrationButton {
    height: 50px;
    margin-top: 45px;
    width: 21.4rem;
    text-transform: uppercase;
}
/*Спросить у Давида разрешение___________________*/
.label {
    margin: 10px 0 5px;

}
.navigateBlock {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 21.4rem;
}
/*Спросить у Давида разрешение___________________*/
.input {
    margin-top: 25px;
    height: 55px;
}
/*Спросить у Давида разрешение___________________*/
.toLoginLink {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary);
}
.errorBlock {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}