.packItemContainer {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    /*background-color: #11eec5;*/
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
}

.nameColumn {
    cursor: pointer;
    display: inline-block;
    padding: 12px 0;
    width: 360px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis ;
    overflow: hidden;
}
.userNameColumn {
    cursor: pointer;
    display: inline-block;
    padding: 12px 0;
    width: 240px;
    margin-right: 10px;
    height: 40px;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis ;
    overflow: hidden;
    /*margin-right: 10px;*/
    /*background-color: #eabd0b;*/
    /*box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);*/
}
.cardsColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    margin-right: 10px;
}
.updateColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    margin-right: 10px;
    /*margin-right: 5px;*/
    /*background-color: #EABD0BFF;*/
    /*box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);*/
}
.actionsColumn {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 115px;
    margin-right: 15px;
    /*background-color: #EABD0BFF;*/
}


.buttonBlock {
    /*justify-self: flex-end;*/
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    /*background-color: #9f0000;*/
    /*margin-left: 60px;*/
}

.buttonBlock button {
    font-size: 17px;
    height: 25px;
    margin: 3px;
    border-radius: 10px;
}


.packEditIcon {
    width: 18px;
}
.packDeleteIcon {
    width: 15px;
}
.packLearnIcon {
    width: 18px;
}

.editeWrapper {
    width: 30px;
    height: 30px;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.editeWrapper:active {
    box-shadow: inset .1rem .1rem .2rem var(--shadow-1), inset -.1rem -.1rem .2rem var(--shadow-2);
}
.deleteWrapper {
    width: 30px;
    height: 30px;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.deleteWrapper:active {
    box-shadow: inset .1rem .1rem .2rem var(--shadow-1), inset -.1rem -.1rem .2rem var(--shadow-2);
}
.learnWrapper {
    width: 30px;
    height: 30px;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.learnWrapper:active {
    box-shadow: inset .1rem .1rem .2rem var(--shadow-1), inset -.1rem -.1rem .2rem var(--shadow-2);
}