.container{
    height: 100vh;
    background: var(--greyLight-1);
    z-index: -10;
    position: relative;
}

.png{
    display: flex;
    top: 230px;
    position: relative;
    justify-content: center;
    z-index: 2;
}

.png2{
    align-items: center;
    width: 700px;
}

.title1{
    top: 140px;
    display: flex;
    justify-content: center;
    margin-top: -800px;
    position: relative;
    text-align: center;
    font-size: 500px;
    color: var(--white);
    z-index: -1;
}

.title2 {
    top: 230px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 100px;
    color: var(--white);
    z-index: 2;
}