.superInput {
    width: 20.4rem;
    height: 55px;
    border: none;
    margin-bottom: 25px;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem white;
    background: none;
    font-family: inherit;
    color: var(--greyDark);
}

.superInput:focus{
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem white;
}

.superInput::placeholder {
    color: var(--greyDark);
    font-family: 'Roboto', sans-serif;
}

.errorInput {
    /*flex-grow:1;*/
    background:#f7f1f1;
    padding:0 1.5em;
    max-width: 150px;
    border: 2px solid red;
}

.error {
    color: red;
    height: 25px;
    margin-left: 10px;
}