.profileEditContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--greyLight-1);
}

.components {
  position: relative;
  width: 400px;
  height: 600px;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.avatar {
  display: contents;
  justify-content: center;
}

.profileName {
  margin: 0 0 40px 0 ;
  font-size: 35px;
  text-align: center;
}

.avatarBorder {
  display: flex;
  width: 180px;
  height: 180px;
  margin-bottom: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white), inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.avatarBorder img {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.inputBlock {
  margin-bottom: 35px;
}

.buttonBlock {
  display: flex;
}

.editButton {
 margin-bottom: 40px;
}

.buttonBlock button {
  width: 160px;
  margin: 15px;
}

.cancelButton {
  background: none;
  color: var(--greyDark);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.cancelButton:hover {
  color: var(--primary);
}

.cancelButton:active {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}