.inputWrapper {
    position: relative;
}

.iconControlClip {
    position: absolute;
    top: 55px;
    right: 20px;
    display: inline-block;
    width: 25px;
    height: 25px;
    filter: var(--iconColor);
    z-index: 10;
    cursor: pointer;
}

.iconControlClip1 {
    display: flex;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: var(--iconColor);
    z-index: 10;
    justify-content: space-between;
    cursor: pointer;

}

.iconsWrapper {
    position: absolute;
    top: 50px;
    right: 20px;
    display: flex;
    width: 100px;
    height: 60px;
    cursor: pointer;
    /*opacity: 1;*/
}