.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100000000;
    top: 100px;
    left: -40px;
    display: flex;
    align-items: start;
    justify-content: end;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    width: 300px;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: var(--bg);
    box-shadow: 0.3rem 0.3rem 1rem var(--shadow-1), -0.1rem -0.1rem 1rem var(--shadow-2);
}

.modalContent.active {
    transform: scale(1);
}
