*{
    margin: 0;
}

.packsContainer{
    height: 500px;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    /*background: red;*/
}

.packListHeader {
    display: flex;
    width: 1300px;
    background-color: var(--bg);
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    border-radius: 10px;
    height: 45px;
}

.sortUp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    filter: var(--iconColor);
}

.sortUp img{
    width: 9px;
}

.questionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 465px;
    /*background-color: #577aab;*/
}

.answerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 455px;
    /*height: 40px;*/
    /*background-color: green;*/
}

.updateTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    /*background-color: #430bea;*/
}

.gradeTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    cursor: pointer;
    /*background-color: #6d5dfc;*/
}

.actionsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    /*background-color: #430bea;*/
}

tbody tr:nth-child(odd) {
    background-color: var(--packItem);
}


