*{
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

.components {
    width: 1300px;
    height: 600px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
    padding: 4rem;
    display: flex;
    align-items: center;
    margin-top: 60px;
    /*background-color: #ef7f0e;*/
}

.searchContainer{
    display: flex;
    height: 70px;
    width: 1300px;
    justify-content: space-between;
    align-items: center;
    /*background-color: #fff;*/
}

.searchButton{
    width: 220px;
    height: 40px;

}

.searchInput{
    margin: 0;
    width: 700px;
    height: 40px;
}

.packsContainer{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packListHeader {
    display: flex;
    width: 100%;
    /*background-color: #11eec5;*/

}

.nameTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 490px;
    height: 40px;
    margin-right: 10px;
    /*background-color: #430bea;*/
}
.updateTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    margin-right: 10px;
    /*background-color: #430bea;*/
}
.actionsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    /*background-color: #430bea;*/
}



/*.cardsListHeader {*/
/*    display: flex;*/
/*    width: 1000px;*/
/*    justify-content: space-between;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.titles {*/
/*    width: 180px;*/
/*}*/