.link {
    text-decoration: none;
    text-transform: uppercase;
    height: 60px;
    list-style-type: none;
    display: inline;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.active {
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper {
    display: inline-flex;
    position: relative;
}

.header {
    justify-content: end;
    position: fixed;
    margin-top: 15px;
    display: flex;
    width: 96vw;
    min-height: 70px;
    background-color: var(--bg);
    box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
    border-radius: 1rem;
    z-index: 100;
    left: 2vw;
}

.header .logo {
    display: flex;
    height: 60px;
    position: absolute;
    left: 0;
    margin: 5px 0 0 50px;
    font-size: 30px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.logo:hover {
    transform: scale(1.02);
}

.headerItem {
    align-items: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.headerItem a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    display: flex;
    height: 50px;
    margin-right: 75px;
}

.imgAvatar {
    height: 45px;
    border-radius: 50%;
    margin-left: 8px;
    border: 2px var(--textColor) solid;
}

.profileName {
    display: flex;
    width: 300px;
    word-wrap: break-word;
    font-size: 20px;
    align-items: center;
    justify-content: right;
}

/*.logOut {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    filter: var(--iconColor);*/
/*}*/

/*.logOut:hover {*/
/*  filter: var(--iconHover);*/
/*}*/

/*.logOut img {*/
/*    border: none;*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    margin: 0 15px 0 0;*/
/*}*/
