.arrowWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 50px;
  left: 56px;

  background-color: var(--bg);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.arrowWrapper:active {
  box-shadow: inset .1rem .1rem .3rem var(--shadow-1), inset -.1rem -.1rem .3rem var(--shadow-2);
}

.arrowLeft {
  height: 14px;
  filter: var(--iconColor);
}

.arrowLeft:hover {
  transform: scale(1.05);
  filter: var(--iconHover)
}

.cardListTitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 29px;
}

.searchContainer{
  display: flex;
  height: 55px;
  width: 1304px;
  align-items: center;
  justify-content: space-between;
  /*background-color: #fff;*/
  margin-bottom: 5px;
}

.searchContainer2{
  display: flex;
  height: 55px;
  width: 904px;
  align-items: center;
  /*justify-content: space-between;*/
  /*background-color: #fff;*/
  margin-bottom: 5px;
}

.searchButton{
  display: flex;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

.searchButton2{
  display: flex;
  height: 42px;
  width: 110px;
  background-color: var(--packItem);
  text-transform: lowercase;
  font-size: 23px;
  border-radius:  0 10px 10px 0;
  color: var(--greyDark);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  position: absolute;
  left: 438px;
}

.searchButton2:hover {
  color: var(--textHover);
}

.searchButton2:active {
  box-shadow: inset .2rem .2rem .5rem var(--shadow-1), inset -.2rem -.2rem .5rem var(--shadow-2);
}

.searchInput{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 470px;
  height: 40px;
  margin: 0;

  border-radius: 10px;
  position: relative;
}

input::placeholder {
  text-align: right;
  margin-right: 120px;
}