.arrowWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 25px;
  /*left: 80px;*/
  background-color: var(--bg);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.arrowWrapper:active {
  box-shadow: inset .1rem .1rem .3rem var(--shadow-1), inset -.1rem -.1rem .3rem var(--shadow-2);
}

.arrowLeft {
  height: 14px;
  filter: var(--iconColor);
}

.arrowLeft:hover {
  transform: scale(1.05);
  filter: var(--iconHover)
}

.cardListTitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 29px;
}

.searchContainer{
  display: flex;
  height: 55px;
  width: 1304px;
  align-items: center;
  justify-content: space-between;
  /*background-color: #fff;*/
  margin-bottom: 5px;
}

.searchButton{
  display: flex;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

.searchInput{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 470px;
  height: 40px;
  margin: 0;
  border-radius: 10px;
}