.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}
.paginationItem {
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    color: var(--greyDark);
}
.currentPage {
    cursor: pointer;
    color: var(--textHover);
    font-weight: bolder;
    font-size: 20px;
    margin: 0 10px;
}

.angle {
    height: 11px;
    margin: 0 25px;
}