.paginationContainer ul {
    list-style-type: none;
    padding: 0;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    /*height: 100px;*/
}

.empty {
    height: 300px;
    width: 100%;
    background-color: #6d5dfc;
}

.paginationContainer .paginationItem {
    margin: 0 7px;
    cursor: pointer;
    font-size: 20px;
    /*font-weight: 300;*/
    color: var(--textColor);
    padding: 0 12px;
    height: 32px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    /*border-radius: 16px;*/
    line-height: 1.43;
    min-width: 32px;
}

.paginationItemDots:hover {
    background-color: transparent;
    cursor: default;
}

.paginationItem:hover {
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
    /*background-color: rgba(0, 0, 0, 0.04);*/
    cursor: pointer;
    border-radius: 5px;
}

.paginationItemDisabled {
    display: none;
}

.paginationItemSelected {
    color: var(--textHover);
    padding: 2px 12px;
    /*width: 52px;*/
    height: 28px;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    margin: 0 10px;
    box-shadow: inset 0.1rem 0.1rem 0.2rem var(--shadow-1), inset -0.1rem -0.1rem 0.2rem var(--shadow-2);
    border-radius: 5px;
}

.angle {
    height: 14px;
    cursor: pointer;
    margin-bottom: 5px;
}

.angle:hover {
    filter: var(--iconHover)
}

.paginationContainer .paginationItem.disabled {
    pointer-events: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px 50px;
}

.select {
    display: flex;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 60px;
    text-align: center;
    height: 20px;
    background-color: var(--bg);
    font-size: 18px;
}