* {
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}

.components {
  width: 1300px;
  height: 600px;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
  /*background-color: #ef7f0e;*/
}

.packListTitle {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}

.buttonsWrapper {
  /*background-color: #8abdff;*/
  margin-bottom: 40px;
  width: 250px;
  height: 150px;
  justify-content: center;
}

.leftSide {
  height: 100%;
  width: 20%;
  border-radius: 2rem;
  background-color: var(--bg);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
}

.range {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rangeWrapper {
  margin-top: 100px;
}

.rangeSpan {
  font-weight: bold;
  margin-bottom: 40px;
}

.valueContainer {
  font-weight: bold;
  margin-bottom: 10px;
}

.buttonsGroup {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.buttonsGroup button {
  margin: 10px;
  height: 30px;
  width: 90px;
  border-radius: 10px;
}

.buttonsGroupSpan {
  font-weight: bold;
  margin-top: 100px;
}

.myBtn {
  color: var(--greyLight-1);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
}

.myBtn:hover {
  color: var(--white);
}

.myBtn:active {
  box-shadow: inset .1rem .1rem .2rem var(--shadow-1), inset -.1rem -.1rem .2rem var(--shadow-2);
}

.allBtn {
  color: var(--greyLight-1);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
}

.allBtn:hover {
  color: var(--white);
}

.allBtn:active {
  box-shadow: inset .1rem .1rem .2rem var(--shadow-1), inset -.1rem -.1rem .2rem var(--shadow-2);
}


.packsSide {
  width: 80%;
  /*background-color: #85d766;*/
  padding: 0 40px;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  /*background-color: #fff;*/
}

.searchButton {
  width: 220px;
  height: 40px;
}

.searchInput {
  margin: 0;
  width: 670px;
  height: 40px;
}

.packsContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packListHeader {
  display: flex;
  width: 100%;
  background-color: var(--bg);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
  border-radius: 10px;
  margin-bottom: 8px;
  justify-content: center;
  /*background-color: #9f0000;*/
  height: 50px;
}

.nameTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  margin-right: 10px;
  cursor: pointer;
  /*background-color: #430bea;*/
}

.cardsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-right: 10px;
  cursor: pointer;
  /*background-color: #430bea;*/
}

.userNameColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  margin-right: 10px;
  cursor: pointer;
  /*background-color: #430bea;*/
}


.updateTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  margin-right: 10px;
  cursor: pointer;
  /*background-color: #430bea;*/
}

.actionsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  /*background-color: #430bea;*/
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}