*{
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

.components {
    width: 1300px;
    height: 640px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
    padding: 4rem;
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}

.eWrapper {
    position: absolute;
    left: 10px;
    bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}