* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--greyDark-2);
}

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #fff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c0c8dc;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --greyDark-2: #636b83;
}

/*for future
.darkTheme {
  --white: #7f84a6;
  --greyLight-2: #53596e;
  --greyLight-1: #636b83;
}
*/

.App {
  text-align: center;
  justify-content: center;
}



