* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--textColor);
}

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #fff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c0c8dc;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --greyDark-2: #636b83;

}




.themeDark {
  --bg: var(--greyDark-2);
  --shadow-1: #53596e;
  --shadow-2: #7f84a6;
  --shadow-3: #577aab;
  --shadow-4: #4607bb;
  --textColor: var(--greyLight-1);
  --textHover: var(--greyLight-1);
  --checboxColor: #53596e;


  --navbarBG: #424242;


  --buttonBG: #6666;
  --filterIconColor: invert(0);
  --colorH1: #ffb400;
  --coloBlock: linear-gradient(180deg, rgb(0,87,184) 50%, rgb(255,215,0) 50%);
}

.themeWhite {

  --bg: var(--greyLight-1);
  --shadow-1: var(--greyLight-2);
  --shadow-2: var(--white);
  --shadow-3: #8abdff;
  --shadow-4: var(--primary-dark);
  --textColor: var(--greyDark-2);
  --textHover: var(--primary);
  --checboxColor: var(--greyDark);

  --curtainColor: #e7e4e4;
  --titleBGColor: rgba(30,37,48,.07);
  --navbarBG: white;
  --buttonBG: #e7e4e4;
  --filterIconColor: invert(0.7);
  --colorH1: #1b49af;
  --coloBlock: linear-gradient(180deg, rgb(0,87,184) 50%, rgb(255,215,0) 50%);
}


.App {
  text-align: center;
  justify-content: center;
}



