

* {
  margin: 0;
}

.packsSide {
  width: 100%;
  display: flex;
  justify-content: end;

}

.packListHeader {
  display: flex;
  width: 100%;
  background-color: var(--bg);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-1), -0.1rem -0.1rem 0.2rem var(--shadow-2);
  border-radius: 10px;
  height: 45px;
}

.packListBody {
  display: block;
  min-height: 480px;
  overflow: scroll;
  /*background-color: #d70d0d;*/
}

.nameTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  margin-right: 10px;
  cursor: pointer;
}

.sortUp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  filter: var(--iconColor)
}

.sortUp img{
  width: 9px;
}

.cardsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  margin-right: 10px;
  cursor: pointer;
}

.updateTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  margin-right: 10px;
  cursor: pointer;
}

.creatorTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  margin-right: 10px;
  cursor: pointer;
}

.actionsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
}

tbody tr:nth-child(odd) {
  background-color: var(--packItem);
}

