.checkbox {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 2.8rem;
    height: 2.8rem;
    -webkit-appearance: none;
}

.spanClassName {
}

.checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    /*transition: 120ms transform ease;*/
    /*box-shadow: inset 1em 1em #9211e8;*/
    /* Windows High Contrast Mode */
    background-color: #401bea;
    font-size: 30px;
}

.checkbox:checked::before {
    transform: scale(1);
}

.checkbox:checked{
    box-shadow: inset .2rem .2rem .5rem #c8d0e7,
    inset -.2rem -.2rem .5rem #fff;
}



