.checkbox {
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    cursor: pointer;
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
}

.spanClassName {

}

.checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform-origin: bottom left;
    transition: background-color 500ms ease;
    background-color: var(--greyDark);
    font-size: 25px;
}

.checkbox:checked::before {
    background-color: var(--primary);
}

.checkbox:hover::before {
    background-color: var(--primary);
}

.checkbox:checked {
    box-shadow: inset .1rem .1rem .3rem #c8d0e7, inset -.1rem -.1rem .3rem #fff;
}



