.errorWrapper {
    background-color: #6d5dfc;
    border-radius: 10px;
    padding: 10px;
    left: 10px;
    bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.errorWrapper span {
    font-weight: 300;
    font-size: 18px;
    color: var(--white);
}
